<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Rango</title>
    </head>

    <body>
        <h1>Login to Rango</h1>

        <a href="/gemma/register/">Register Here</a>

        <form id="login_form" method="post" action="/gemma/login/">
            {% csrf_token %}
            Email: <input type="text" name="email" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="lgoin" />
        </form>

    </body>
</html>