<html>
       <head>
            <title>Pricelist Detail page</title>
            <h1>Add an item</h1>
       </head>
       <body>
                 {% if pricelists %}
                    <ul>
                    {% for pricelist in pricelists %}
                        <li>
                            <input type="checkbox" name="pricelist" value="{{ pricelist.pricelist_name }}">
                            <a href="{{ pricelist.pricelist_detail.url }}"> {{ pricelist.pricelist_name }}</a>
                        </li>
                    {% endfor %}
                 {% else %}
                        <p>No Document</p>
                 {% endif %}
                    </ul>

         <form action="/gemma/pricelist/" method="post" enctype="multipart/form-data">
             {% csrf_token %}
             <ul>
             {{ form.as_p }}
             </ul>
            <p><input type= "submit" value="Upload"></p>

         </form>

         <form action="/gemma/pricelist/" method="post">
          {% csrf_token %}
         <input type="text" name="pricelist_name"/>
         <input type="submit" value="Delete"/>
        </form>



       </body>
 </html>

