<html>
       <head>
            <title>Pricelist Detail page</title>
            <h1> {{ plist }} </h1>
       </head>
       <body>
                <ul>
                  {% for file in files  %}
                      <li>
                          <a href="{{ file.pricelist_detail.url }}">{{ file.pricelist_name }}</a>--{{ file.created }}
                      </li>
                  {% endfor %}
                </ul>



         <form action="/gemma/pricelist/" method="post" enctype="multipart/form-data">
             {% csrf_token %}
             <ul>
             {{ form.as_p }}
             </ul>
            <p><input type= "submit" value="Upload"></p>

         </form>

         <form action="/gemma/pricelist/" method="post">
              {% csrf_token %}
             <input type="text" name="pricelist_name"/>
             <input type="submit" value="Delete"/>
        </form>
       </body>
 </html>

